@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    background-color: #e2e1dc;
}

.header {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 1200px;
        gap: 10px;
        top: 0;
        color: #fff;
        background-color: #373c4f;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
}

.header h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

.container {
    position: relative;
    width: 1200px;
    min-height: 850px;
    margin: 0 auto;
    padding: 5px;
    color: #fff;
    display: flex;
    border-radius: 10px;
    background-color: #373c4f;
}

.leftSide {
    width: 60%;
    padding: 20px;
}

.calendar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #878895;
    border-radius: 5px;
    background-color: #fff;
}

.calendar::before,
.calendar::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 12px;
    height: 97%;
    border-radius: 0 5px 5px 0;
    background-color: #d3d4d6d7;
    transform: translateY(-50%);
}

.calendar::before {
    height: 94%;
    left: calc(100% + 12px);
    background-color: rgb(153, 153, 153);
}

.calendarHeader .month {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
}

.calendarHeader .month .prevMonth,
.calendarHeader .month .nextMonth {
    cursor: pointer;
    border: none;
    background: none;
    color: #878895;
}

.calendarHeader .month .prevMonth:hover,
.calendarHeader .month .nextMonth:hover {
    color: #b38add;
}

.calendarHeader .month .date {
    transition: transform 0.1s ease-in-out;
}

.calendarHeader .month .date:hover {
    transform: scale(1.2);
    color: #b38add;

}

.calendar > table {
    width: 100%;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
}

.calendar thead th {
    padding-bottom: 20px;
    text-decoration: underline;
    font-weight: 500;
}

.calendarBody tr td{
    width: 14.28%;
    height: 90px;
    cursor: pointer;
    color: #b38add;
    border: 1px solid #f5f5f5;
}

.activeDays:hover {
    color: #fff;
    background-color: #b38add;
}

.activeDays.active {
    position: relative;
    font-size: 2rem;
    color: #fff;
    background-color: #b38add;
}

.activeDays.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 2px #b38add;
}

.activeDays.hasEvent {
  position: relative;
  font-size: 2rem;
  color: #fff;
  background-color: #3f4458;
}

.calendarBody tr #prevDays,
.calendarBody tr #nextDays {
    color: #b3b3b3;
}

.rightSide {
    position: relative;
    width: 40%;
    padding: 20px 0;
    min-height: 100%;
}

.rightSide .today-date {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-left: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.rightSide .today-date .event-day {
    font-size: 2rem;
    font-weight: 500;
}

.rightSide .today-date .event-date {
    font-size: 1rem;
    font-weight: 400;
    color: #878895;
}

.rightSide > .events {
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-left: 4px;
}

.events .event {
    position: relative;
    width: 95%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 0.7em;
    gap: 5px;
    padding: 0 20px;
    padding-left: 50px;
    color:  #fff;
    background: linear-gradient(90deg, #3f4458, transparent);
    cursor: pointer;
}

.events .event:hover {
  background: linear-gradient(90deg, #b38add, transparent);
}

.events .event .title {
  display: flex;
  align-items: center;
  pointer-events: none;
}

.events .event .title i{
  color: #b38add;
}

.events .event .event-time {
  font-size: 0.8rem;
  font-weight: 400;
  color: #878895;
  margin-left: 15px;
  pointer-events: none;
}

.events .event:hover .event-time {
  color: #fff;
}

.events .event:hover i {
  color: #fff;
}

.events .event .title .event-title {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 20px;
}

.events .event::after {
    content: "✓";
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 3rem;
    line-height: 1;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    color: #b38add;
    transform: translateY(-50%);
  }

  .events .event:hover::after {
    display: flex;
  }

  .add-event {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #878895;
    border: 2px solid #878895;
    opacity: 0.5;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
  }

  .add-event:hover {
    opacity: 1;
  }

  .add-event i {
    pointer-events: none;
  }

  .events .no-event {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #878895;
  }

  .add-event-wrapper {
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 90%;
    max-height: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: #fff;
    transform: translateX(-50%);
    transition: max-height 0.5s ease;
  }

  .add-event-wrapper.active {
    max-height: 300px;
  }

  .add-event-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #373c4f;
    border-bottom: 1px solid #f5f5f5;
  }

  .add-event-header .close {
    font-size: 1.5rem;
    cursor: pointer;
  }

  .add-event-header .close:hover {
    color: var(--primary-clr);
  }

  .add-event-header .title {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .add-event-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 20px;
  }

  .add-event-body .add-event-input {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .add-event-body .add-event-input input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #f5f5f5;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 400;
    color: #373c4f;
  }

  .add-event-body .add-event-input input::placeholder {
    color: #a5a5a5;
  }

  .add-event-body .add-event-input input:focus {
    border-bottom: 1px solid #b38add;
  }

  .add-event-body .add-event-input input:focus::placeholder {
    color: #b38add;
  }

  .add-event-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .add-event-footer .add-event-btn {
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    color: #fff;
    background-color: #b38add;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #b38add;
  }

  .add-event-footer .add-event-btn:hover {
    background-color: transparent;
    color: #b38add;
  }  

.footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 1200px;
    gap: 10px;
    bottom: 0;
    background-color: #373c4f;
    color: #fff;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-size: 1.5rem;
    font-weight: 500;
}

